@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('./public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
  font-family: Montserrat,sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@media only screen and (min-width: 768px) {

  header {
    max-height: 100vh;
    overflow: hidden;
  
  }
}

@media only screen and (max-width: 375px) {

  .button-devis {
    display: none;
  }
}
