@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('./public/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

:root {
  font-family: Montserrat,sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-shape-divider-top-1729329827,
.custom-shape-divider-top-1729523626 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1729329827 svg,
.custom-shape-divider-top-1729523626 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 90px;
}

.custom-shape-divider-top-1729329827 .shape-fill
 {
  fill: #d65757;
}

.custom-shape-divider-top-1729523626 .shape-fill {
  fill: #f5f5f5;
}


@media only screen and (min-width: 768px) {

  header {
    max-height: 100vh;
    overflow: hidden;
  
  }
}

@media only screen and (max-width: 375px) {

  .button-devis {
    display: none;
  }
}
